:root {
  --blue-color: #2196f3;
  --sec-logo-color: #000000;
  --sec-black: #212121;
  --main-text-color: #757575;
  --footer-background: #2f303a;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --team-shadow: rgba(0, 0, 0, 0.25);
  --border-works-item: #eeeeee;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  color: var(--sec-black);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
/*--------------------body-----------------------*/

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------------header-------------------- */

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-header);
  align-items: center;
}

.logo {
  font-family: Raleway;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--sec-logo-color);
  margin-right: 70px;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:last-child {
  margin-left: 50px;
}

.header-list {
  color: var(--sec-black);
  display: flex;
}

.header-link:hover,
.header-link:focus,
.current {
  color: var(--blue-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-nav {
  display: flex;
}

/* -------------------------main section------------------------ */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*-------------------hero------------------*/

.hero {
  background-color: var(--footer-background);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: auto;
}

/* -----------------strength----------------*/

.strength-list {
  display: flex;
}

.strength-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.strength-list-item:not(:last-child) {
  margin-right: 30px;
}

.strength-section {
  margin-bottom: -94px;
}

/* ----------------general--------------- */

.general-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.general-item:not(:last-child) {
  margin-right: 30px;
}

.general-item {
  width: 370px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------------------team--------------------*/

.team {
  background-color: var(--button-color);
}

.team-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.team-member,
.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.member-position {
  margin-bottom: 30px;
}

.team-list-item {
  border-radius: 4px;
  background-color: var(--white-color);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ---------------portfolio-works------------------ */

.portfolio-container {
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-description {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 20px;
}

.button-list {
  display: flex;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.works-item {
  margin-top: 20px;
}

.works-space {
  padding-left: 20px;
  border: 1px solid var(--border-works-item);
}

/* ---------------------button---------------------- */

.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.hero-button {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--sec-black);
}

.portfolio-button {
  background-color: var(--button-color);
  color: var(--sec-black);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  border: 0px;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus,
.current-button {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* ------------------------footer----------------------- */
.footer {
  background-color: var(--footer-background);
  color: var(--adress-color);
  text-decoration: inherit;
  padding-bottom: 60px;
  padding-top: 60px;
}

.address {
  font-style: inherit;
}

.logo-footer {
  color: var(--white-color);
}

.footer-link[target='blank'] {
  color: var(--white-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--blue-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
